/* todo form */

.todo-form {
    text-align: center;
    /* border: 1px solid red; */
    border-radius: 30%;

}

.form-group{
    margin: 1rem 2rem;
    text-align: center;
}

.form-control{
    width: 100%;
    text-align: center;
    border-radius: 50%;
}


